html, body{margin: 0; padding: 0;}
.profile-wrapper { display: block; width: 100%; float: left; margin-top: 50px; }
.profile-wrapper .pw-l { width: 30%; float: left; display: block; }
.profile-wrapper .pw-r { width: 65%; float: left; display: block; }
.profile-wrapper .pw-l>div{ width: 70%; margin: 0 20px 0 auto; }
.img-wrapper { width: 230px; height: 230px; }
.img-wrapper img { display: inline-block; overflow: hidden; line-height: 1; vertical-align: middle; width: 100%; height: 100%; border-radius: 5px; }
.profile-wrapper .pw-l .p-title{ padding: 16px 0; }
.vcard-names { line-height: 1; }
h1 { font-size: 32px; font-weight: 600; margin-top: 0; margin-bottom: 0; font-size: 2em; }
.vcard-fullname { font-size: 26px; line-height: 30px; display: block; }
.vcard-username { font-size: 20px; font-style: normal; font-weight: 300; line-height: 24px; color: #666; }
.p-bio { margin-bottom: 12px; overflow: hidden; font-size: 14px; color: #6a737d; }
.p-bio button { display: block; width: 100%; border: 1px solid #ccc; background: linear-gradient(#fff, #ecece9); height: 30px; border-radius: 2px; }
.pw-l-foot ul { list-style: none; border-top: 1px solid #ccc; padding: 20px 0 0 10px;}
.pw-l-foot ul li { width: 100%; margin: 5px 0; }
.pw-l-foot svg { margin-right: 10px; vertical-align: middle; font-size: 14px; fill: #aaa; }
.tab-wapper { border-bottom: 1px solid #ccc; }
.pw-r .tab-wapper ul { list-style: none; padding: 0; margin: -1px; }
.pw-r .tab-wapper ul li { display: inline; padding: 10px 0; border-bottom: 1px solid #ccc; }
.pw-r .tab-wapper ul li button { border: 0; background: #fff; padding: 10px 0; width: 15%; cursor: pointer; }
.pw-r .tab-wapper ul li.active button { border-bottom: 1px solid #e36209; font-weight: 600; }
.badge-def { background: #f5efef; padding: 5px; border-radius: 50px; color: #999; font-size: 10px; font-weight: 600; margin: 0 10px; }
.Search-wrapper { margin: 10px 0 0 0; border-bottom: 1px solid #ccc; padding: 10px 0 0 0; height: 60px; }
.Search-wrapper .sw-l { width: 50%; float: left; margin: 5px 10px 5px 0; }
.Search-wrapper .sw-l input { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 3px; padding: 0 0 0 10px; }
.Search-wrapper .sw-r { margin: auto; width: 40%; display: block; float: right; }
.Search-wrapper .sw-r .control-wrapper { width: 100px; padding: 0 5px; float: left; }
.Search-wrapper .sw-r .control-wrapper select { width: 100%; height: 30px; border: 1px solid #ccc; border-radius: 3px; background: linear-gradient(#fff, #ecece9); }
.Search-wrapper .sw-r .control-wrapper button { background-color: #28a745; background-image: linear-gradient(-180deg,#34d058,#28a745 90%); border: 0; padding: 7px 20px; color: #fff; border-radius: 3px; }
.repos-list-wrapper ul { list-style: none; padding: 10px 0px 20px 0px; margin: 0; }
.repos-list-wrapper .rl-title h1 { font-size: 25px; padding-bottom: 15px; }
.rl-title a { text-decoration: none; color: #0366d6; }
.rl-title a:hover { text-decoration: underline; }
.repos-list-wrapper .rl-content { font-size: 14px; color: #aaa;padding: 5px 0; }
.repos-list-wrapper ul li { border-bottom: 1px solid #ccc; padding: 15px 10px 15px 0px; }
span.lang-color {
  height: 10px;
  width: 10px;
  background: #f00;
  display: inline-block;
  border-radius: 50%;
  margin: 0 5px 0 5px;
}
.repos-list-wrapper .rl-content span {
  margin: 0 10px 0 0;
}